*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
    text-transform: capitalize;
    font-family: cursive;
}
.container{
    width: 100%;
    height: 100vh;
    background-color: rgb(112, 139, 173);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.musicPlayer{
    background-color: rgb(26, 89, 184);
    width: 400px;
    padding: 25px 35px;
    text-align: center;
}
nav{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
p{
    margin-bottom: 12px;
}
.songImg{
    width: 220px;
    border-radius: 50px;
    border: 8px solid rgb(132, 139, 150);
    box-shadow: 0 10 60 rgba(255, 26, 26, 0.22);
}
.circle{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background-color: rgb(33, 66, 114);
    box-shadow: 0 5 5 rgba(255, 26, 26, 0.22);
}
.control{
    display: flex;
    justify-content: center;
    align-items: center;
}
.control div{
    width: 60px;
    height: 60px;
    margin: 20px;
    background: rgb(69, 131, 224);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    box-shadow: 0 10 20 rgba(255, 26, 26, 0.22);
    cursor: pointer;
}
.control div:nth-child(2){
    transform: scale(1.5);
    background: rgb(22, 71, 146);
  
}
#progress{
    -webkit-appearance: none;
    width: 100%;
    height: 6px;
    background-color: rgb(24, 119, 226);
    border-radius: 4px;
    cursor: pointer;
    margin: 40px 0;
}